/* VARIABLES */

:root {
  --dark-primary-color: #303f9f;
  --dark-primary-color-opacity: rgba(48, 63, 159, 0.5);
  --default-primary-color: #3f51b5;
  --light-primary-color: #c5cae9;
  --text-primary-color: #fafafa;
  --accent-color: #ffc107;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --hover-text-color: #aaa;
  --backgound-clear: #f2f2f2;
  --header-size: 10vh;
  --div1-size: 35vh;
  --div2-size: 50vh;
  --div3-size: 60vh;
  --div4-size: 45vh;
}

/* SET UP */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "sen", sans-serif;
  max-width: 480px;
  max-height: 680px;
  margin: 0 auto;
  text-transform: capitalize;
}

.hidden {
  display: none !important;
}

/* screenInicio */
.screenInicio {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--text-primary-color);
  background: var(--default-primary-color);
  height: var(--header-size);
}

.players {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  justify-content: flex-start;
  align-items: center;
  background: var(--text-primary-color);
  height: var(--div1-size);
  /* border: 2px solid red; */
}

/* INPUTS FIELDS */

.playersFields {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.playersFields input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  border: 2px solid var(--divider-color);
  transition: border-color 0.3s ease;
}

.playersFields .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: var(--hover-text-color);
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.playersFields input {
  background: none;
  border: 2px solid var(--divider-color);
  transition: color 0.3s ease, border 0.3s ease;
  color: var(--dark-primary-color);
}

.playersFields input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.playersFields input.dirty,
.playersFields input:not(:placeholder-shown),
.playersFields input:focus {
  border-color: var(--dark-primary-color);
  transition-delay: 0.1s;
}

.playersFields input.dirty + .placeholder,
.playersFields input:not(:placeholder-shown) + .placeholder,
.playersFields input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: var(--dark-primary-color);
  background: var(--text-primary-color);
  width: auto;
}

.btnPlay {
  width: 250px;
  text-decoration: none;
  border: none;
  color: var(--text-primary-color);
  background-color: var(--dark-primary-color);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5%;
  padding: 6px;
  border-radius: 5px;
  transition: color 0.3s ease, padding 0.3s ease, border 0.3s ease;
}

.btnPlay:hover {
  color: var(--dark-primary-color);
  background-color: var(--accent-color);
  border: 2px solid var(--dark-primary-color);
  font-size: 16px;
  cursor: pointer;
}

.previousMatches {
  min-height: calc(100vh - var(--div1-size) - var(--header-size));
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  padding: 5%;
}

.cardPreviousMatches {
  width: 80%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  border: 3px solid var(--dark-primary-color);
  border-radius: 5px;
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);
}

.titlePreviousMatches {
  text-decoration: underline;
  text-align: left;
  text-decoration-color: var(--accent-color);
}

.listPreviousMatches {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.botonesPreviousMatches button {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-primary-color);
  padding: 0;
}

.deleteBtn:hover,
.listBtn:hover {
  color: var(--accent-color);
}

.listPreviousMatchesItems {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

/* screenAnimacion */
.screenAnimacion {
  height: 100vh;
  display: flex;
  /* border: 2px solid red; */
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--default-primary-color);
}

.loading::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid var(--dark-primary-color);
  border-top-color: var(--accent-color);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* screenCards */

.screenCards {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--default-primary-color);
}

.slider-container {
  /* border: 5px solid var(--clr-primary-5); */
  width: 100%;
  height: 100%;

  margin: 0 auto;
  /* height: 40vh; */
  max-width: 80rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  /* margin-top: 4rem; */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: var(--clr-primary-9);
  color: var(--clr-white); */
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.jugadorPuntos {
  height: var(--header-size);
  color: var(--dark-primary-color);
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 80%;
  border: 3px solid var(--dark-primary-color);
  border-radius: 5px;
  margin: 2%;
  /* padding: 1%; */
}

.filmCard {
  display: flex;
  width: 80%;
  height: calc(100vh - (var(--header-size) * 2));
  flex-direction: column;
  border: 3px solid var(--dark-primary-color);
  border-radius: 5px;
  justify-content: center;
  justify-self: center;
  background-color: var(--accent-color);
  color: var(--dark-primary-color);
  margin-bottom: 2%;
}

.filmTitle {
  text-decoration: underline;
}

.filmPoster {
  height: var(--div3-size);
  background-image: url("https://m.media-amazon.com/images/M/MV5BZmExNmEwYWItYmQzOS00YjA5LTk2MjktZjEyZDE1Y2QxNjA1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  margin: 0 auto;
}

.buttons {
  height: var(--header-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  color: var(--dark-primary-color);
  /* border: 2px solid green; */
  width: 80%;
  /* padding: 2%; */
}

.btnVolver,
.btnResultados {
  margin: 0;
  padding: 2%;
  width: 30%;
}

.arrowBtn:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.btnVolver:hover,
.btnResultados:hover {
  color: var(--dark-primary-color);
  background-color: var(--accent-color);
  border: 2px solid var(--dark-primary-color);
  font-size: 14px;
}

/* screenResultados */

.screenResultados {
  height: 100vh;
  background: var(--default-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid red; */
  width: 100%;
}

.nombreJugador {
  margin: 0;
  padding: 1%;
  width: 97%;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

.scoreJugador {
  height: var(--div4-size);
  /* border: 2px solid green; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postersJugador {
  height: var(--div1-size);
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.posterImage {
  background-image: url("https://m.media-amazon.com/images/M/MV5BZmExNmEwYWItYmQzOS00YjA5LTk2MjktZjEyZDE1Y2QxNjA1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80%;
  margin: 2%;
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  flex: 1 1 auto;
}

.buttonsScores {
  height: calc(100vh - var(--div4-size) * 2);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid yellow; */
}

.buttonsScores button {
  height: 60%;
  width: 25%;
  margin: 0 1%;
}

.nombreJugadorGanador {
  font-size: 16px;
  margin: 0%;
  width: 100%;
}

.nombreJugador,
.textoGanador {
  color: var(--dark-primary-color);
  background-color: var(--accent-color);
  border: 2px solid var(--dark-primary-color);
}

.textoGanador {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-primary-color);
  border-radius: 5px;
  width: 80%;
  margin: 1%;
  padding: 1%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 425px) {
  .tituloHeader,
  .jugadorPuntos,
  .titlePreviousMatches {
    font-size: 20px;
  }

  /* .posterImage {
    width: 80px;
    height: 60%;
  } */

  .nombreJugadorGanador,
  .nombreJugador {
    font-size: 18px;
  }

  .buttonsScores button,
  .buttonsScores button:hover {
    font-size: 12px;
  }
}
